section {
    min-height: 100vh;
    background-image: linear-gradient(
        rgba(83, 129, 160, 0.5),
        rgba(231, 111, 0, 0.3)),
    url(/assets/images/program.png);
    position: relative;
}
h2 {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}
.img-java{
    max-height: 100px;
    max-width: 100%;
}
.contenedor-nombre{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.card-login{
    position: absolute;
    // top: 25%;
    // left: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) !important;
}