<div class="card" style="width: 100%;">
    <div class="card-header  text-center">
        JavaShot
    </div>
    <form   [formGroup]="loginForm" 
            (ngSubmit)="guardar()"
            class="p-4">
        <div class="form-group">
            <label>E-Mail</label>
            <input type="email" 
                    class="form-control" 
                    placeholder="Email"
                    formControlName="email"
                    name="email">
        </div>

        <div class="form-group">
            <label>Contraseña</label>
            <input type="password" 
                    class="form-control" 
                    placeholder="Contraseña"
                    formControlName="password"
                    name="password">
        </div>

        <button type="submit" 
                class="btn btn-success mr-2 col-md-12 text-center"
                id="btn-login" 
                [disabled]="loginForm.invalid"
                *ngIf="!loading">
                <i class="fa fa-save"></i>
                Iniciar Sesión
        </button>

        <button type="button" 
                class="btn btn-success mr-2 col-md-12 text-center"
                id="btn-login" 
                [disabled]="true"
                *ngIf="loading">
                <i class="fa fa-spin fa-sync"></i>
                Cargando...
        </button>
        <a routerLink='/registrarse' class="btn btn-link">¿No tienes cuenta? Registrate aqui</a>
    </form>
</div>